.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .login-card {
    min-width: 300px;
  }
  
  .full-width {
    width: 100%;
  }
  
  .button-container {
    display: flex;
    justify-content: space-evenly;
    margin-top: 10px;
  }
  
  .login-button {
    flex: 1;
    margin-right: 5px;
  }
  
  .register-button {
    flex: 1;
    margin-left: 5px;
  }
  