.coin-container {
    position: relative;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
  }
  
  .coin-image {
    width: 200px;  /* adjust to the size you want */
    height: 200px;  /* adjust to the size you want */
    object-fit: cover;  /* this will crop the images if they are larger than the container */
    transition: transform 0.3s ease;

}
  
  .coin-details {
    background-color: rgba(0, 0, 0, 0.5);
    padding: 8px;
    color: white;
  }
  
  .country {
    font-weight: bold;
    font-size: 18px;
  }
  
  .year {
    font-size: 14px;
  }
  .coin-tile {
    transition: background-color 0.3s ease;
  }
  
  
  .coin-link {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    text-decoration: none;
    color: inherit;  /* so that the link text inherits the same color as the surrounding text */
  }
  
  .coin-image:hover {
    transform: scale(1.1);  /* 10% zoom on hover */
  }